<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.project.space.payment.mapper.PaymentMapper">

    <insert id="insertPayment" parameterType="Payment">
        insert into payment(paynum, imp_uid, merchant_uid, paydate, amount, status, refund_reason, userid)
        values(payment_seq.nextval, #{imp_uid:VARCHAR}, #{merchant_uid}, sysdate, #{amount}, #{status}, #{refund_reason:VARCHAR}, #{userid})
    </insert>


    <!-- db에서 payment_seq.nextval값을 가져옴 -->
    <select id="getPaynum" resultType="int">
        SELECT LAST_NUMBER FROM USER_SEQUENCES WHERE SEQUENCE_NAME = 'PAYMENT_SEQ'
    </select>

    <select id="getpaymentcount" resultType="int">
        select count(*) from payment
    </select>
        
    <select id="getpaymentdate" resultType="String" parameterType="int">
        <![CDATA[
            SELECT to_char(sysdate, 'yyyymmdd') as yyyymmdd FROM payment where paynum = #{value}
        ]]>
    </select>

    <select id="getpaymentbyuseridandmerchant_uid" resultType="Payment" parameterType="String">
        select * from payment where userid = #{userid} and merchant_uid = #{merchant_uid}
    </select>



</mapper>