<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.space.point.mapper.PointMapper">
	
<!-- 	<select id="getPointUser" parameterType="string" resultType="Point"> -->
<!-- 		select * from point where userid=#{value} -->
<!-- 	</select> -->
	
	
</mapper>