<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.space.spaceinfo.mapper.SpaceInfoMapper">

	<select id="selectBySnum" resultType="SpaceInfo" parameterType="_int">
		select * from space_info where snum=#{value}
	</select>
	
	
</mapper>