<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- memo -->
	<!-- typeAlias 별칭 설정 === -->
	<typeAliases>
		<typeAlias type="com.project.space.domain.Space_InfoVO" alias="SpaceInfo"/>
		<typeAlias type="com.project.space.domain.Mem_InfoVO" alias="MemberInfo"/>
		<typeAlias type="com.project.space.domain.ReservationVO" alias="Reservation"/>
		<typeAlias type="com.project.space.domain.ReviewVO" alias="Review"/>
		<typeAlias type="com.project.space.domain.Qna_BoardVO" alias="Qna"/>
		<typeAlias type="com.project.space.domain.PagingVO" alias="Paging"/>
		<typeAlias type="com.project.space.domain.PointVO" alias="Point"/>
		<typeAlias type="com.project.space.domain.Heart_LikeVO" alias="Like"/>
		<typeAlias type="com.project.space.domain.Space_Like" alias="SL"/>
		<typeAlias type="com.project.space.domain.mem_space_res_view" alias="MSRV"/>
		<typeAlias type="com.project.space.domain.PaymentVO" alias="Payment"/>
		<typeAlias type="com.project.space.domain.HashtagVO" alias="HashTag"/>
		<typeAlias type="com.project.space.admin.service.AdminMemberInquiryVO" alias="MemberInquiry"/>
		<typeAlias type="com.project.space.admin.service.AdminSpaceInquiryVO" alias="SpaceInquiry"/>
		<typeAlias type="com.project.space.reservation.DelRes" alias="DR"/>
		
	</typeAliases>
	<!-- mapper 정의 -->
	<mappers>
		<mapper resource="config/mybatis/mapper/SpaceInfoMapper.xml"/>
		<mapper resource="config/mybatis/mapper/Mem_InfoMapper.xml"/>
		<mapper resource="config/mybatis/mapper/ReservationMapper.xml"/>
		<mapper resource="config/mybatis/mapper/ReviewMapper.xml"/>
		<mapper resource="config/mybatis/mapper/QnaMapper.xml"/>
		<mapper resource="config/mybatis/mapper/PointMapper.xml"/>
		<mapper resource="config/mybatis/mapper/PaymentMapper.xml"/>
		<mapper resource="config/mybatis/mapper/AdminMapper.xml"/>
		
	</mappers>
</configuration>